<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" type="text/css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/gcal.js'></script>
<script type='text/javascript'>
  var FC = $.fullCalendar; // a reference to FullCalendar's root namespace
  var MonthView = FC.MonthView;      // the class that all views must inherit from
  var MultiMonthView = MonthView.extend({

    // make a subclass of MonthView.
    // This will result in the the view honoring the weeks number and the contentHeight and contentHeight

    initialize: function () {
      if (this.options.contentHeight !== 'auto') {
        console.error('MultiMonthView requires contentHeight to be "auto"');
      }
    }
  });
  FC.views.multimonth = MultiMonthView; // register our class with the view system
  // you can now use 'multimonth' as a view type
  const month_names = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ];
  const month_shortnames = [
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'June',
    'July',
    'Aug',
    'Sept',
    'Oct',
    'Nov',
    'Dec',
  ];
  const month_bgcolors = [
    '#003366', // Jan: dark blue
    '#FFFFFF', // Feb: white
    '#333333', // march: charcoal
    '#fff68f', // april: dull yellow
    '#008000', // may: green
    '#8b0000', // june: tomato
    '#000080', // july: navy blue
    '#f5f5dc', // august: vanilla
    '#daa520', // sept: gold/orange
    '#000000', // oct: black
    '#A52A2A', // nov: brown
    '#800000', // dec: maroon 
  ];
  const month_fgcolors = [
      '#FFFFFF', // Jan: dark blue
      '#FFFFFF', // Feb: white
      '#FFFFFF', // march: charcoal
      '#000000', // april: dull yellow
      '#000000', // may: green
      '#000000', // june: tomato
      '#000000', // july: navy blue
      '#000000', // august: vanilla
      '#000000', // sept: gold/orange
      '#FFFFFF', // oct: black
      '#FFFFFF', // nov: brown
      '#FFFFFF', // dec: maroon 
  ];
  {{CALENDAR_JS}}
</script>
<style>

   body {
    margin: 0 0 0 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    background: transparent;
  }

  .fc-day-top.fc-other-month {
    opacity: 1; 
  }
  
  #calendar {
    overflow: visible !important;
    margin: 4em 4.5em 0 4em;
    width: 90%;
    height: 100%;
    background: lightgrey;
  }

</style>
</head>
<body>

  <div id='calendar'></div>
  <div id="eventContent" title="Event Details">
    <div id="eventTitle"></div>
    <div id="eventStart"></div>
    <div id="eventEnd"></div>
    <div id="eventDescription"></div>
    <div id="eventLocation"></div>
    <div id="eventURL"></div>
  </div>
</html>